body{
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962;
}
#home{
margin-bottom: -4rem;
}
.offset::before{
	height: 4rem;
	margin-top: 4rem;
	content: "";
	display: block;
	margin-bottom: 0;
	position: relative;
	top: 50px;

}
/* navbarstyle */
.navbar{
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, .4);
}


/* navbar style */

.navbar-brand img{
	height: 70px;
	width: 70px;
}
.navbar-nav li{
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #1ebba3;
}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
/* slideer */
.carousel-item{

	height: 100vh;
	width: 100%;
	background-position: 100% 100%;
	background-size: cover;
}
.carousel-caption{
	position: absolute;
	top: 38%;
	text-transform: uppercase;
	width: 100%;
	right: 0;
	left: 0;
}
.carousel-caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	

}
.carousel-caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
p{
	font-family: 'Lato-regular',sans-serif;
	font-weight: 400;
}
.btn-lg{
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}
/* =============================================================== */
/*start course select */
/* ================================================================== */
.narrow{
	width: 75%;
	margin: 0 auto;
	text-transform: uppercase;
}
.narrow h1


{
	position: relative;
	top: 50px;
} 
.narrow p
{
	position: relative;
	top: 70px;
}
.narrow a
{
	position: relative;
	top: 80px;
}

.btn-md{
	border-width: medium;
	border-radius: 10px;
	padding: .6rem 1.1rem;
	text-transform: uppercase;
	margin: 1rem;
}
/* End course select */
/* ========================================================== */
/* portfolio section strat */
/* ================================================================ */
.jumborton{
	border-radius: 0;
	padding: 3rem 0 2rem;
}
h3 .heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;
}
.hrading-underline{
	width: 3rem;
	height: 2rem;
	background-color: #1ebba3;
	margin: 0 auto 2rem;
}
.portfolio img{
	max-width: 100%;
	transition: transform 1s ease;

}
.portfolio a img{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.portfolio{
	overflow: hidden;
}
.row .no-padding [class*=col]{
	padding: 0;

}
.portfolio img:hover{
	transform: scale(1.1);
	cursor: zoom-in;

}
.card{
	margin: 2rem;
	height: 360px;
	width: 300px;
}


footer img{
	height: 50px;
	width: 50px;
	margin: 1.5rem 0;
}


footer{
	background-color: #40474e;
	color: white;
	padding: 3rem 0 2rem;
	text-align: center;
	margin: 0 auto;
	
}
footer a {
	color: white;
	font-size: 1.6rem;


}
footer a i{
	
	margin: 1.2rem .5rem 0 0;
}
footer a :hover{
	color: #1ebba3;
}
hr.socket{
	border-top: .2rem solid #1ebba3;
	width: 100%;
}













/* media query css start */
/* ======================================= */
@media(max-width:1280px){
	body{
		width: 100%;
		position: relative;
		left: 0;
		right: 0;

	}
}
@media(max-width:1460px){
	.carousel-caption a{
		position: relative;
		top: 0;
		bottom: 20px;
	}
}
@media (max-width:1325px){
	.carousel-caption h1{
		font-size: 3rem
	}
}
@media(max-width:992px){
 .card{
 	margin-left: 2px;
 	margin-right: 2px;
}
}

@media(max-width:767px){
	.carousel-item a{
		margin-bottom: 40px;
	}
	.carousel-caption h1{
		font-size: 2rem;
		margin-top: 0;
	}
	#team .card{
		margin: 0 auto;
		margin-bottom: 10px;

	}
	.portfolio a img{
		margin-left: 0;
		margin-right: 0;

	}
	footer{
		box-sizing: border-box;
	}
}
@media (max-width:575px){
	.carousel-caption h1{
		font-size: 2rem;

	}
	.carousel-caption h3{
		font-size: 1.3rem;
	}
}
